<!DOCTYPE html>
<html lang="en">

<head>
  <!--
    *       ___           ___           ___           ___           ___           ___       ___           ___           ___
    *      /\__\         /\  \         /\  \         /\  \         /\  \         /\__\     /\  \         /\  \         /\  \
    *     /::|  |       /::\  \       /::\  \       /::\  \       /::\  \       /:/  /    /::\  \       /::\  \       /::\  \
    *    /:|:|  |      /:/\:\  \     /:/\:\  \     /:/\:\  \     /:/\:\  \     /:/  /    /:/\:\  \     /:/\:\  \     /:/\:\  \
    *   /:/|:|  |__   /::\~\:\  \   /::\~\:\  \   /::\~\:\  \   /::\~\:\  \   /:/  /    /::\~\:\  \   /::\~\:\  \   /::\~\:\  \
    *  /:/ |:| /\__\ /:/\:\ \:\__\ /:/\:\ \:\__\ /:/\:\ \:\__\ /:/\:\ \:\__\ /:/__/    /:/\:\ \:\__\ /:/\:\ \:\__\ /:/\:\ \:\__\
    *  \/__|:|/:/  / \/__\:\/:/  / \/_|::\/:/  / \/_|::\/:/  / \/__\:\/:/  / \:\  \    \:\~\:\ \/__/ \/__\:\/:/  / \/__\:\ \/__/
    *      |:/:/  /       \::/  /     |:|::/  /     |:|::/  /       \::/  /   \:\  \    \:\ \:\__\        \::/  /       \:\__\
    *      |::/  /        /:/  /      |:|\/__/      |:|\/__/        /:/  /     \:\  \    \:\ \/__/        /:/  /         \/__/
    *      /:/  /        /:/  /       |:|  |        |:|  |         /:/  /       \:\__\    \:\__\         /:/  /
    *      \/__/         \/__/         \|__|         \|__|         \/__/         \/__/     \/__/         \/__/
    *
    * NarraLeaf Project (https://github.com/NarraLeaf)
    * A new definition of Visual Novel
  -->
  <!--
    * [NarraLeaf]
      NarraLeaf VN Engine (https://github.com/NarraLeaf/NarraLeaf)
      Licensed under the MPL-2.0 License
    * [NarraLeaf-React]
      NarraLeaf-React Core Stage Library (https://github.com/NarraLeaf/narraleaf-react)
      Licensed under the MPL-2.0 License
    * [NarraLeaf-Studio]
      NarraLeaf-Studio IDE (https://github.com/NarraLeaf/NarraLeaf-Studio)
      Licensed under the MPL-2.0 License
  -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <base href="<%= base %>">
  <script type="importmap">
    {
      "imports": {
        "narraleaf-studio/plugin": "app://plugin-api/plugin.js",
        "react": "app://plugin-api/react.js",
        "react-dom": "app://plugin-api/react-dom.js",
        "react-dom/client": "app://plugin-api/react-dom-client.js",
        "react/jsx-runtime": "app://plugin-api/react-jsx-runtime.js",
        "react/jsx-dev-runtime": "app://plugin-api/react-jsx-dev-runtime.js"
      }
    }
  </script>
  <script defer src="<%= script %>"></script>
  <link href="<%= style %>" rel="stylesheet">
</head>

<body>
  <div id="root"></div>
</body>

</html>
