<!DOCTYPE html>
<html lang="en">
<head>
    <!--
        *       ___           ___           ___           ___           ___           ___       ___           ___           ___
        *      /\__\         /\  \         /\  \         /\  \         /\  \         /\__\     /\  \         /\  \         /\  \
        *     /::|  |       /::\  \       /::\  \       /::\  \       /::\  \       /:/  /    /::\  \       /::\  \       /::\  \
        *    /:|:|  |      /:/\:\  \     /:/\:\  \     /:/\:\  \     /:/\:\  \     /:/  /    /:/\:\  \     /:/\:\  \     /:/\:\  \
        *   /:/|:|  |__   /::\~\:\  \   /::\~\:\  \   /::\~\:\  \   /::\~\:\  \   /:/  /    /::\~\:\  \   /::\~\:\  \   /::\~\:\  \
        *  /:/ |:| /\__\ /:/\:\ \:\__\ /:/\:\ \:\__\ /:/\:\ \:\__\ /:/\:\ \:\__\ /:/__/    /:/\:\ \:\__\ /:/\:\ \:\__\ /:/\:\ \:\__\
        *  \/__|:|/:/  / \/__\:\/:/  / \/_|::\/:/  / \/_|::\/:/  / \/__\:\/:/  / \:\  \    \:\~\:\ \/__/ \/__\:\/:/  / \/__\:\ \/__/
        *      |:/:/  /       \::/  /     |:|::/  /     |:|::/  /       \::/  /   \:\  \    \:\ \:\__\        \::/  /       \:\__\
        *      |::/  /        /:/  /      |:|\/__/      |:|\/__/        /:/  /     \:\  \    \:\ \/__/        /:/  /         \/__/
        *      /:/  /        /:/  /       |:|  |        |:|  |         /:/  /       \:\__\    \:\__\         /:/  /
        *      \/__/         \/__/         \|__|         \|__|         \/__/         \/__/     \/__/         \/__/
        *
        * NarraLeaf Project (https://github.com/NarraLeaf)
        * A new definition of Visual Novel
    -->
    <!--
        * [NarraLeaf]
          NarraLeaf VN Engine (https://github.com/NarraLeaf/NarraLeaf)
          Licensed under the MPL-2.0 License
        * [NarraLeaf-React]
          NarraLeaf-React Core Stage Library (https://github.com/NarraLeaf/narraleaf-react)
          Licensed under the MPL-2.0 License
        * [NarraLeaf-Studio]
          NarraLeaf-Studio IDE (https://github.com/NarraLeaf/NarraLeaf-Studio)
          Licensed under the MPL-2.0 License
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <base href="<%= base %>">
    <script defer src="<%= script %>"></script>
</head>
<body>
<div id="root"></div>
</body>
</html>
